flow.json
[
    {
        "id": "cfdf8943.ca44a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c3babd8.5b88e4",
        "type": "http in",
        "z": "cfdf8943.ca44a8",
        "name": "",
        "url": "/helloWorld",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "3cf3e432.c2a99c"
            ]
        ]
    },
    {
        "id": "3cf3e432.c2a99c",
        "type": "function",
        "z": "cfdf8943.ca44a8",
        "name": "",
        "func": "var require = context.global.get('require'); \nmsg.payload = \"Hello World\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "ff3c47b3.e2ac18"
            ]
        ]
    },
    {
        "id": "ff3c47b3.e2ac18",
        "type": "http response",
        "z": "cfdf8943.ca44a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 320,
        "wires": []
    }
]